<!DOCTYPE html>
<html>
<head>
    <title>Redirect</title>
    <link href="{{ asset('build/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="p-3">

<div class="container">
    <h3 class="mb-4">{{ message }}</h3>
</div>

</body>
</html>