<!DOCTYPE html>
<html>
<head>
    <title>Успішно</title>
</head>
<body>

<h1>Посилання успішно збережено:</h1>

{% if shortUrl %}
    <a href="{{ shortUrl }}">{{ shortUrl }}</a>
{% endif %}

</body>
</html>
